.h1 {
    position: absolute;

}

.bg-dark {
 
        /* background-color: #4f868c !important;
         */
         background-color: #eb2e73 !important;
        padding: 1em;
      

}

h5 {
    font-weight: lighter;
}

h2 {
    font-family:Verdana;
    color : #e71678;
}

